{% extends 'layout.html' %}

{% block title %} {{messages['title']}} {% endblock %}


{% block main %}
<script src="/static/rate.js"></script>
<script src="/static/comment.js"></script>
<script src="/static/delete_post.js"></script>

    <div class="sheet-like-{{ messages['title'] }}">
        <div class="sheet-like container p-5">
            
            {% include 'flashed_message.html' %}

            <div class="posts-heading"><img src="/static/images/{{ messages['img'] }}"></div>
            {% if not all_jokes %}
                <p><h3>Be the first to phun things up!</h3></p>
            {% else %}
                {% for row in all_jokes %}
                    <hr id="hr_at_{{ row[3] }}">
                    <div id="joke_n_{{ row[3] }}" class="post">
                        
                            {% for user in all_users %}
                                {% if row[2] in user %}
                                    <a href="/profile/{{ user[1] }}"><img class="post_pic" src="{{ all_pics[user[0]] }}"></a>
                                    <b>{{ user[1] }}</b>
                                {% endif %}
                            {% endfor %}
                            {% if session.user_id == row[2] %}
                                <span class="delete_post" type="button" id="delete_{{ row[3] }}" onclick="confirm_delete(this.id)">&#10006;</span>
                                <div id="r_u_shure_at_{{ row[3] }}" class="hidden_form r_u_shure">
                                    <div>
                                        <h4>Are you shure?</h4>
                                        <button class="btn-warning" id="yes_at_{{ row[3] }}" onclick="delete_joke()">Yes</button>
                                        <button class="btn-primary" id="no_at_{{ row[3] }}" onclick="quit_delete()">No</button>
                                    </div>
                                </div>
                            {% endif %}
                        
                        <pre class="joke">{{ row[0] | safe }}</pre>
                        <p>
                            <b class="rating">Rating</b>: <span id="rating_for_{{ row[3] }}">{{ row[1] }}</span>
                            {% for vote in all_user_votes if session.user_id == vote[0] and row[3] == vote[1] %}
                                <span id="voted_for_{{ row[3] }}" class="add">&#128076;</span>
                            {% endfor %}
                            <span id="voted_for_{{ row[3] }}" class="remove">&#128076;</span>
                        </p>
                        <p>
                            <button id="{{ row[3] }}" class="rate pun_up" name="add">Pun up!</button>
                            <button id="{{ row[3] }}" class="rate unpun" name="remove">Unpun</button>
                            <button id="{{ row[3] }}" class="add_comment" title="add a comment!" onclick="show_comment_box(this.id)">&#128172;</button>
                        </p>
                        <div id="comment-box-{{ row[3] }}" class="container p-4 hidden_form">
                            <textarea id="comment-for-{{ row[3] }}" class="write_comment" rows="2" name="comment" placeholder="Feel free to use Markdown syntax" autofocus required></textarea>
                            <button name="{{ row[3] }}" class="benjamin comment-button" onclick="post_comment(this.name)">Comment</button>
                        </div>
                        <button class="c_comments" id="c-dropdown-at-{{ row[3] }}" name="{{ row[3] }}" onclick="seeComments(this.name)">Show comments</button>                    
                    
                    
                    </div>
                    <div class="container p-4 hidden_form comments" id="comments-at-{{ row[3] }}">
                        {% for comment in all_comments if comment[2] == row[3] %}
                            {% if session.user_id == comment[1] %}
                            <div class="comment" id="comment_n_{{ comment[4] }}">
                            {% else %}
                            <div class="comment">
                            {% endif %}
                                <p>
                                    {% for user in all_users if user[0] == comment[1] %}
                                        <a href="/profile/{{ user[1] }}"><img class="comment_pic" src="{{ all_pics[comment[1]] }}"></a>
                                        <b class="c_username">{{ user[1] }}</b>
                                        {% if session.user_id == comment[1] %}
                                            <span class="delete_post" type="button" id="uncomment_{{ comment[4] }}_{{ row[3] }}" onclick="uncomment(this.id)">&#10006;</span>
                                        {% endif %}
                                    {% endfor %}
                                </p>
                                <pre class="container">{{ comment[0] | safe }}</pre>
                            </div> <!--This /div closes whichever div tag is opened in the if statement above-->
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}